.sc-gallery {
  &__container {
    display: flex;
    flex-flow: row wrap;
    gap: 0.25em;
  }

  &__item {
    width: 5.5em;
    height: 5.5em;
    transition: transform 50ms ease-in-out;
    
    &:focus-within,
    &:hover {
      transform: scale(1.2);
      z-index: 1;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
  }
}