{{- with .Site.Params.aside.contact -}}
<section class="p-card p-card-contact">
  <h2 class="p-card__header">Contact</h2>
  <div class="p-card-contact__grid">
    {{- with .email -}}
    <img class="p-card-contact__image" width="38" height="25" src=/static/svg/email.svg alt="email">
    <a class="p-card-contact__text" href="mailto:{{- . -}}">{{- . -}}</a>
    {{- end -}}

    {{- with .discord -}}
    <img class="p-card-contact__image" width="38" height="30" src="/static/svg/discord.svg" alt="discord">
    <span class="p-card-contact__text">{{- . -}}</span>
    {{- end -}}
  </div>
</section>
{{- end -}}
