{{ define "main" }}
  <article class="list code">
    <header>
      <h1>{{ .Title }}</h1>
    </header>

    {{.Content}}

    <div class="list-container">
      {{ range .Pages }}
        {{ with .Params.tech }}
        {{ $pageLang := . }}
        {{ with index $.Site.Data.tech (default "unknown" .) }}
          <a class="page-lang-link" href='{{ "/tech/" | relLangURL }}{{ (index $pageLang 0) | urlize }}'>
            <img class="lang-logo" src='{{ .file }}' alt='{{ .name }}' title="{{ .name }}">
          </a>
        {{ end }}
        {{ end }}

        <span class="date">{{ time.Format "Jan 02, 2006" .Date }}</span>

        <a href="{{.Permalink}}">{{.Title}}</a>
      {{ end }}
    </div>

  </article>
{{ end }}

