@use 'consts';


html {
  font-family: var(--san-serif);
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--c-bg-main);
  color: var(--c-text);
  font-size: var(--fs-md);
}

main {
  flex: 1 0 auto;

  // momiji
  // background-image: url("/static/momiji.png");
  // background-repeat: no-repeat;
  // background-position: bottom left;
  // background-size: calc(2em + 16vw);

  @media screen and (min-width: consts.$bp-md) {
    --fs-xs: 0.833rem;
    --fs-sm: 1rem;
    --fs-md: 1.2rem;
    --fs-lg: 1.44rem; 
    --fs-xl: 1.728rem;
  }
}

a {
  text-decoration: underline;
  color: var(--c-primary);
}
