@use 'consts' as consts;


main {
  padding: 1.5em;

  &.fill {
    padding: 0;
    margin: 0;
  }

  &.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: consts.$bp-lg) {
      flex-direction: row;
      align-items: baseline;
    }
  }
}


aside {
  flex-shrink: 0;
  max-width: 40em;
  margin-top: 3em;

  @media (min-width: consts.$bp-lg) {
    width: 24em;
    margin-top: 0;
    margin-left: 3em;
  }

  section {
    margin-top: 1em;

    @media (min-width: consts.$bp-md) {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}