
.block {
  display: block;
}

/** Flex */
.flex {
  display: flex;

  &-row {
    flex-direction: row;
  }
  &-col {
    flex-direction: column;
  }

  &-wrap {
    flex-wrap: wrap;
  }
}

.justify {
  &-center {
    justify-content: center;
  }
  &-between {
    justify-content: space-between;
  }
}

.items {
  &-center {
    align-items: center;
  }
}