table {
  margin: 1em auto 1em auto;
  border-collapse: collapse;
  

  th, td {
    padding: 0.2em 0.5em;
    border: 1px solid #dbdbdb;
  }

  th {
    background-color: #f3f3f3;
  }

  &.albums .images {
    display: flex;
    max-width: 100%;
  }
}
