table {
  margin: 1em auto 1em auto;
  border-collapse: collapse;
  

  th, td {
    padding: 0.2em 0.5em;
    border: 1px solid #dbdbdb;

    p {
      white-space: pre-line;
    }
  }

  th {
    background-color: #f3f3f3;
  }

  &.albums .images {
    display: flex;
    max-width: 100%;
  }

  &.lyrics {
    font-size: var(--fs-sm);

    td {
      padding: 0.5em;
      line-height: 1.5em;
    }
  }
}
