@use '../consts' as consts;


aside {
  flex-shrink: 0;
  max-width: 40em;
  margin-top: 3em;

  @media (min-width: consts.$bp-lg) {
    width: 24em;
    margin-top: 0;
    margin-left: 3em;
  }

  section {
    margin-top: 1em;

    @media (min-width: consts.$bp-md) {
      &:first-child {
        margin-top: 0;
      }
    }
  }

  .latest .pages {
    display: grid;
    grid-template-columns: 4em 1fr;
    row-gap: 0.5em;
  }

  .image img {
    width: 100%;
    height: auto;
  }

  .contact {
    .grid {
      display: grid;
      grid-template-columns: 3em 1fr;
      row-gap: 0.5em;
    }

    img {
      max-width: 2em;
      height: auto;
      margin: 0;
      margin-right: 0.5em;
    }

    .text {
      display: inline-flex;
      align-items: center;
    }
  }
}
