

// BLOCKQUOTE

blockquote {
  position: relative;
  margin: 1em 2em;

  &::before {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--c-secondary);
    left: -1em;
    height: 100%;
    width: 4px;
    border-radius: 2px;
  }
}


// CODE

code {
  font-family: var(--monospace);
  font-size: var(--fs-sm);
}

code:not(.highlight code),
.highlight {
  border: 1px solid #e1e2e1;
  background-color: #f6f6f6;
  border-radius: 3px;
  color: #2f3337;
}

.highlight {
  margin: 1em -0.5em;

  pre {
    margin: 0;
    line-height: 1.1em;
  }

  .lntable {
    border-collapse: collapse;
    border-spacing: 0;
  }

  .lntd {
    padding: 0 0.5rem;

    &:first-of-type {
      min-width: 1rem;
      border-right: 1px solid #e1e2e1;
    }
  }
}

