ul.listing {
  line-height: 1.5;
  
  .return {
    list-style: url('/static/svg/return.svg');
  }
  .folder {
    list-style: url('/static/svg/folder.svg');
  }
  .file {
    list-style: url('/static/svg/file.svg');
  }
  .size {
    float: right;
  }
}