$marker-color: 5px solid var(--c-secondary);
$marker-offset: -0.7rem;

%article-marker {
  content: "";
  position: absolute;
  pointer-events: none;
  display: block;
  height: 2em;
  width: 2em;
  border-radius: 5px;
}


article {
  position: relative;
  max-width: 40em;
  line-height: 1.6em;
  font-size: var(--fs-md);

  &.marker {

    &::before {
      @extend %article-marker;
      border-left: $marker-color;
      border-top: $marker-color;
      left: $marker-offset;
      top: $marker-offset;
    }
  
    &::after {
      @extend %article-marker;
      border-right: $marker-color;
      border-bottom: $marker-color;
      right: $marker-offset;
      bottom: $marker-offset;
    }
  }

  header {
    margin-bottom: 1em;
    padding: 0.5em 1em;
    border-radius: 5px;
    box-shadow: var(--shadow-l);
    background: var(--momiji);
    background-color: var(--c-purewhite);
    
    h1 {
      margin-top: 0;
      margin-bottom: 0.2em;
    }
  }

  .tag-line {
    font-size: var(--fs-sm);
    line-height: 1.2em;

    .date {
      margin-right: 0.2em;
    }

    ul {
      display: inline;
      margin-left: 0.5em;
      list-style: none;
  
      li {
        display: inline-block;
      }
  
      a {
        display: block;
        border-radius: 0.4em;
        padding: 0.1em 0.25em;
        margin-right: 0.25em;
        text-decoration: none;
        line-height: 1em;
        font-size: var(--fs-xs);
        background-color: var(--c-purewhite);
        border: 2px solid var(--c-primary);
      }
    }
  }

  :not(header) img {
    display: block;
    max-width: 100%;
    max-height: 50vh;
    margin: {
      left: auto;
      right: auto;
    }
  }

  // Embedded photo
  .simple-photo {
    display: flex;
    justify-content: center;
    margin: 1em auto;

    @media (min-width: 650px) {
      max-width: 75%;
    }

    .href-wrap,
    img {
      display: block;
      border-radius: 5px;
    }

    .href-wrap {
      box-shadow: rgba(0, 0, 0, .2) 1.95px 1.95px 3px;
      transition: transform 0.2s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 30em;
      border-radius: 5px;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }
}