.tooltip {
  position: relative;
  border-bottom: 1px dotted black;

  .tooltip-box {
    position: absolute;
    visibility: hidden;
    padding: 0 0.25em;
    border-radius: 0.4em;
    z-index: 5;
    text-align: center;
    color: white;
    background-color: black;
    font-size: var(--fs-sm);

    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -0.3em;
      border-width: 0.3em;
      border-style: solid;
      border-color: black transparent transparent transparent;
    }
  }

  &:hover .tooltip-box {
    visibility: visible;
  }
}
