footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--c-footer-bg);

  .left {
    font-size: var(--fs-sm);
    color: var(--c-footer-text);
  }
  
  a {
    color: inherit;
  }

  .license-stamp {
    display: block;
    img {
      display: block;
      border-radius: 2px;
    }
  }
}