// cleaned


.timeline {
  position: relative;
  display: table;
  height: 100%;
  margin: 1em auto;

  .wrapper::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    width: 3px;
    left: 3.25em;
    margin-top: 0.7em;
    background: var(--c-timeline-bg);
  }

  h3 {
    position: sticky;
    margin: 0;
    top: 1em;
    font-weight: 400;
    font-size: var(--fs-lg);
    color: var(--c-primary);
  }

  h4 {
    padding: 0 0 0 4.5em;
    margin: 0 0 0.5em 0;
    font-weight: 400;
    color: var(--c-text-muted);
  }

  .year > section {
    position: relative;
    margin-top: -1.5em;
    margin-bottom: 2.2em;

    &:last-child{
      margin-bottom: 1.2em;
    }
  }

  ul {
    list-style-type: none;
    padding: 0 0 0 4.5em;
    max-width: 32em;

    &:first-of-type::after {
      content: '';
      position: absolute;
      z-index: 2;
      left: 3.05em;
      top: 0.6em;
      width: 11px;
      height: 11px;
      background: var(--c-primary);
      border: 2px solid var(--c-white);
      border-radius: 50%;
    }
  }

  li {
    margin-left: .5rem;
    
    &:before {
      content: '·';
      margin-left: -0.5rem;
      padding-right: 0.3rem;
    }
    
    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
