<nav>
  <input id="nav-toggle" type="checkbox">

  <div class="logo-wrapper">
    <a href="/" class="logo">
      <img height="48px" width="51px" src="/static/svg/aya.svg" alt="">
      <div class="logotype">
        <span class="logo-text">{{- .Site.Title -}}</span>
        {{- with .Site.Params.header.subtitle -}}
        <span class="logo-text-sub" id="splash-container" aria-hidden="true">
          {{ . }}
        </span>
        {{- end -}}
      </div>
    </a>
  </div>

  <label for="nav-toggle" class="burger">
    <span></span>
  </label>

  <ul>
    {{ range sort .Site.Menus.main "Weight" }}
      <li>
        <a href="{{ .URL }}">{{ .Name | title }}</a>
      </li>
    {{ end }}
  </ul>

  {{ with resources.Get "splash.ts" }}
    {{ $app := . | js.Build (dict "minify" true) | resources.Fingerprint }}
    <script type="text/javascript" src="{{ $app.RelPermalink }}" integrity="{{ $app.Data.Integrity }}"></script>
  {{ end }}
</nav>