<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.SiteDescription }}{{ end }}">
<title>{{- if .Title -}}{{- .Title -}}{{- else -}}{{- .Site.Title -}}{{- end -}}</title>

<!-- CSS -->
{{- $sass_options := (dict "transpiler" "dartsass" "outputStyle" "compressed") -}}
{{- $style := resources.Get "sass/styles.scss" | resources.ToCSS $sass_options | resources.Minify | resources.Fingerprint -}}
<link rel="stylesheet" href="{{$style.Permalink}}" integrity="{{$style.Data.Integrity}}">

{{- with .Params.styles -}}
  {{- range . -}}
  <link rel="stylesheet" href="{{- . | absURL -}}">
  {{- end -}}
{{- end -}}

<!-- JS -->
{{- with .Params.scripts -}}
  {{- range . -}}
  <script src="{{- . | absURL -}}" defer></script>
  {{- end -}}
{{- end -}}

<!-- KaTeX -->
{{- if .Params.math -}}{{- partial "katex.html" . -}}{{- end -}}

<!-- Monospace font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet"> 

<!-- Favicon -->
<link rel="icon" href="/favicon.ico" sizes="any">
