<ul class="nav-links">
  {{- range sort .Site.Menus.main "Weight" -}}
  <li class="nav-links-entry">

    <a class="nav-item" href="{{- .URL -}}">{{- .Name | title -}}</a>

    {{- if .Params.dropdown -}}
    {{- with $.Site.GetPage .URL -}}
      <ul class="dropdown-box">
        {{- range .Pages -}}
          <li class="dropdown-box-entry">
            <a class="dropdown-item" href="{{- .RelPermalink -}}">
              {{- .Title -}}
            </a>
          </li>
        {{- end -}}
      </ul>
    {{- end -}}
    {{- end -}}

  </li>
  {{- end -}}
</ul>