.p-listing {
  line-height: 1.5;
  
  &__return {
    list-style: url('/static/svg/return.svg');
  }
  &__folder {
    list-style: url('/static/svg/folder.svg');
  }
  &__file {
    list-style: url('/static/svg/file.svg');
  }
  &__size {
    float: right;
  }
}