@use '../consts' as consts;


.l-article {
  padding: 1.5em;

  @media (min-width: consts.$bp-lg) {
    display: grid;
    grid-template-columns: 15em 1fr auto;
    grid-template-areas: "left main right";
    gap: 1em;
  }

  @media (min-width: consts.$bp-xl) {
    grid-template-columns: 15em 1fr 15em;
  }

  &__aside {
    display: none;
    position: relative;
    grid-area: left;

    @media (min-width: consts.$bp-lg) {
      display: block;
    }
  }

  &__toc {
    position: sticky;
    top: 1.5em;
  }

  &__article {
    grid-area: main;
    margin: 0 auto;
  }
}