{{- /*
  Displays a collection table.
  Input: data file name in the "collections" directory
*/ -}}
{{- $data := index .Site.Data.collections (.Get 0) -}}
{{- $data := index $data (.Get 1) -}}

{{- with $data -}}
<table class="sc-coll">
  <thead>
    <th class="sc-coll__title">Title</th>
    <th>Have</th>
  </thead>
  <tbody>
    {{- range .items -}}
    <tr>
      <td>{{- .name -}}</td>
      {{- if .have -}}
      <td class="sc-coll__yeah">Yeah</td>
      {{- else -}}
      <td class="sc-coll__nope">Nope</td>
      {{- end -}}
    </tr>
    {{- end -}}
  </tbody>
</table>
{{- end -}}
