<table class="albums">
    <thead>
        <th>Title</th>
        <th>Circle</th>
        <th>Cat No</th>
    </thead>
    <tbody>
        {{ range .Site.Data.doujin.albums }}
        <tr class="album-row">
            <td>{{ .title }}</td>
            <td>{{ .circle }}</td>
            <td>{{ .catNo }}</td>
        </tr>
        <tr class="image-row">
            {{ with .images}}
            <td colspan="3">
                <div class="images">
                {{ range . }}
                    {{ with $.Page.Resources.GetMatch (print "images/" .) }}
                    {{ $image := .Resize "800x" }}
                    <div>
                        <img src='{{ $image.RelPermalink }}'>
                    </div>
                    {{ end }}
                {{ end }}
                </div>
            </td>
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>
