{{- $relPath := .Get "path" -}}
{{- $resources := .Page.Resources.Match (path.Join $relPath "*" ) -}}

<div class="files">
  <h2 id="files">Files</h2>
  <ul>
    {{- range $resources -}}
      {{- $bytes := len .Content -}}
      {{- $kilobytes := div (math.Round (div $bytes 10)) 100 -}}
      {{- $megabytes := div (math.Round (div $kilobytes 10)) 100 -}}
      {{- $fileSize := "" -}}

      {{- if lt $kilobytes 1.0 -}}
        {{- $fileSize = print $bytes " bytes" -}}
      {{- else if lt $megabytes 1.0 -}}
        {{- $fileSize = print $kilobytes " kB" -}}
      {{- else -}}
        {{- $fileSize = print $megabytes " MB" -}}
      {{- end -}}

      <li>
        <span>
          {{- $fileSize -}}
        </span>
        <a href="{{- .RelPermalink -}}">
          {{- path.Base .Name -}}
        </a>
      </li>
    {{- end -}}
  </ul>
</div>
