{{- $relPath := .Get "path" -}}
{{- $resources := .Page.Resources.Match (path.Join $relPath "*" ) -}}

<section class="sc-gallery">
  <div class="sc-gallery__container">
    {{- range where $resources "MediaType.MainType" "image" -}}
    <a class="sc-gallery__item block" href="{{- .RelPermalink -}}">
      {{- with .Fill "200x200 center" -}}
      <img class="sc-gallery__image block" src="{{- .RelPermalink -}}" width="{{- .Width -}}" height="{{- .Height -}}">
      {{- end -}}
    </a>
    {{- end -}}
  </div>
</section>
